workflows/5dLHIpEeDwj1kq7O.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T09:23:39.646Z",
  "id": "5dLHIpEeDwj1kq7O",
  "isArchived": true,
  "meta": null,
  "name": "LINE自動回覆+files",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "17eea8ae-564f-4523-9da7-43b62c92742a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        -160
      ],
      "id": "255cb21c-386b-4d48-865c-6f8f25d2c02c",
      "name": "Webhook",
      "webhookId": "17eea8ae-564f-4523-9da7-43b62c92742a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "593b348b-89d4-497d-a27c-bdc23976fbe1",
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        -160
      ],
      "id": "883a475e-7a99-4453-aac6-0331b0182f06",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer GFQFQ8bLAmxyM7aOzn1EstgdZ4DLvP7o7lmaJoAO1cRyQEkjz4ei8Asi+TQiBRpbrUlrrRryPz48u7CnZBAhTiP1W5ztzcafy7pwLj2S1ZpJ+u+CUH+krIHykNtOZb7KGqSed2o0W8XlTGAKfpmIPgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('If').first().json.body.events[0].replyToken }}\",  \n  \"messages\": [\n  {\n    \"type\": \"text\",\n    \"text\": \"收到你的訊息: {{ $json.body.events[0].message.text }}\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -192
      ],
      "id": "997448d6-2f65-45a1-909f-e656b11fa931",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T09:23:39.660Z",
      "createdAt": "2025-12-20T09:23:39.660Z",
      "role": "workflow:owner",
      "workflowId": "5dLHIpEeDwj1kq7O",
      "projectId": "P6K4d0THghyzcD8Q"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-20T09:37:44.000Z",
  "versionId": "c4c5578a-0daa-41ed-8681-b5204b4f9f16"
}