workflows/5WB6JLnFQYXaAx8o.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "呼叫本地LLM": {
      "main": [
        [
          {
            "node": "回覆LINE使用者",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "呼叫本地LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "公司電話表",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "讀取客戶資訊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "公司電話表": {
      "main": [
        [
          {
            "node": "回覆查詢電話表結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "回覆LINE使用者1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取客戶資訊": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "回覆查詢客戶資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T01:43:01.836Z",
  "id": "5WB6JLnFQYXaAx8o",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LINE自動回覆(Switch+AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line_message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2096,
        -256
      ],
      "id": "b1eca160-0dcf-4878-b823-837b61427b3e",
      "name": "Webhook",
      "webhookId": "1ec871a0-260f-4f67-8bb0-f4e27c0d5ca1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "593b348b-89d4-497d-a27c-bdc23976fbe1",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        -256
      ],
      "id": "4e3aee8b-ac09-486f-b015-88f29762807e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.118:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",  \n  \"prompt\": \"{{ $json.body.events[0].message.text}}\",  \n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        -416
      ],
      "id": "bdddb69c-460a-4a6e-b4ec-983641ce0a90",
      "name": "呼叫本地LLM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer GFQFQ8bLAmxyM7aOzn1EstgdZ4DLvP7o7lmaJoAO1cRyQEkjz4ei8Asi+TQiBRpbrUlrrRryPz48u7CnZBAhTiP1W5ztzcafy7pwLj2S1ZpJ+u+CUH+krIHykNtOZb7KGqSed2o0W8XlTGAKfpmIPgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('If').item.json.body.events[0].replyToken }}\",  \n  \"messages\": [\n  {\n    \"type\": \"text\",\n    \"text\": \"{{ $json.response.replace(/\\n/g, '\\\\\\\\n') }}\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        -416
      ],
      "id": "b32dc902-9ae1-4a43-aa9c-074724f533c8",
      "name": "回覆LINE使用者"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer GFQFQ8bLAmxyM7aOzn1EstgdZ4DLvP7o7lmaJoAO1cRyQEkjz4ei8Asi+TQiBRpbrUlrrRryPz48u7CnZBAhTiP1W5ztzcafy7pwLj2S1ZpJ+u+CUH+krIHykNtOZb7KGqSed2o0W8XlTGAKfpmIPgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('If').item.json.body.events[0].replyToken }}\",  \n  \"messages\": [\n  {\n    \"type\": \"text\",\n    \"text\": \"已完成名片新增\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        64
      ],
      "id": "d43cb548-ba60-42af-8a6b-9ab6eb802d5a",
      "name": "回覆LINE使用者1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "c:",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "80521300-6fa9-4ff5-8db3-3312dabdb4ec"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02beecba-2d9a-41d9-9533-d5b174ede959",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "t:",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5624728d-fa22-4e7d-9cc5-184a13987dd4",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "m:",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1680,
        -352
      ],
      "id": "e2570e42-e276-4f24-afb0-d533efb18c0e",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xzoe6OH-yzkfBwiOkesSf9w83mUNPcMBvJ34AEEF_MM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xzoe6OH-yzkfBwiOkesSf9w83mUNPcMBvJ34AEEF_MM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "聯絡人",
              "lookupValue": "={{ $json.body.events[0].message.text.split(\":\").slice(1).join(\":\").trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1408,
        -256
      ],
      "id": "85267ca7-1b9e-44cd-bf4a-4731e86378a2",
      "name": "公司電話表",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cw5LvbLtBTEHYhE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer GFQFQ8bLAmxyM7aOzn1EstgdZ4DLvP7o7lmaJoAO1cRyQEkjz4ei8Asi+TQiBRpbrUlrrRryPz48u7CnZBAhTiP1W5ztzcafy7pwLj2S1ZpJ+u+CUH+krIHykNtOZb7KGqSed2o0W8XlTGAKfpmIPgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('If').item.json.body.events[0].replyToken }}\",  \n  \"messages\": [\n  {\n    \"type\": \"text\",\n    \"text\": \"{{ $json['公司'] }}  {{ $json['聯絡人'] }} {{ $json['電話'] }}\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        -256
      ],
      "id": "648fe475-d267-423f-bf66-043ba024faf9",
      "name": "回覆查詢電話表結果"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46495d4a-4931-4ceb-9c74-7366142c23bf",
              "name": "message_id",
              "value": "={{ $json.body.events[0].message.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        64
      ],
      "id": "9363476e-d692-4fb4-be23-14bd7f691327",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.message_id }}/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer GFQFQ8bLAmxyM7aOzn1EstgdZ4DLvP7o7lmaJoAO1cRyQEkjz4ei8Asi+TQiBRpbrUlrrRryPz48u7CnZBAhTiP1W5ztzcafy7pwLj2S1ZpJ+u+CUH+krIHykNtOZb7KGqSed2o0W8XlTGAKfpmIPgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1872,
        64
      ],
      "id": "f55b6151-2223-4deb-b4be-8bfa9c8eda09",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K89038006388957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "filetype",
              "value": "jpg"
            },
            {
              "name": "language",
              "value": "cht"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        64
      ],
      "id": "b585901a-4996-4455-b33e-5c02fea16410",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.ParsedResults?.[0]?.ParsedText || '';\n\n// 正規化與清理函式\nfunction normalizeText(input) {\n  return input\n    .replace(/[·•×・]/g, '-')                // 特殊點符號 → -\n    .replace(/[、，。,．]/g, ',')             // 全形標點 → 半形\n    .replace(/[（﹝〔【]/g, '(')              // 各式左括號 → (\n    .replace(/[）﹞〕】]/g, ')')              // 各式右括號 → )\n    .replace(/[“”「」『』]/g, '\\\"')            // 中文引號 → 英文引號\n    .replace(/[^\\u4e00-\\u9fa5a-zA-Z0-9 \\n\\-():,._'\"\\/]/g, '') \n    // 僅保留中文、英文、數字、常用符號與換行\n    .replace(/\\\\n/g, '\\\\\\\\n')                   // 換行字元轉換為 JSON 合法字串\n    .trim();\n}\n\nconst cleanedText = normalizeText(rawText);\n\n// 建立最終 Prompt\nconst prompt = `下面內容是 OCR 解析名片後的文字，請解析內容，提取聯絡人、公司名稱、職稱、電話、地址這四個欄位內容，以 JSON 格式輸出，json 欄位名稱分別是 name、comp、job、phone、address：\n內容可能會有錯字或格式錯誤，請根據語意推論正確內容，如果姓名有中文和英文，就一起整理到聯絡人就可以了。以下是 OCR 結果：${cleanedText}`;\n\nreturn [\n  {\n    json: {\n\t  model: \"mistral\",\n      prompt,\n      stream: false\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        64
      ],
      "id": "2e061767-4fa7-4616-831b-caf1c2fbd79a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.118:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "stream",
              "value": "={{ $json.stream }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        64
      ],
      "id": "0b6dbd43-53fc-4172-a022-a3cd5b6a2dd1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || '{}';\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        64
      ],
      "id": "b42605f6-4525-46b4-8b17-ede474f11457",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xzoe6OH-yzkfBwiOkesSf9w83mUNPcMBvJ34AEEF_MM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xzoe6OH-yzkfBwiOkesSf9w83mUNPcMBvJ34AEEF_MM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "聯絡人": "={{ $json.name }}",
            "公司": "={{ $json.comp }}",
            "職稱": "={{ $json.job }}",
            "電話": "={{ $json.phone }}",
            "地址": "={{ $json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "聯絡人",
              "displayName": "聯絡人",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "公司",
              "displayName": "公司",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "職稱",
              "displayName": "職稱",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "電話",
              "displayName": "電話",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "地址",
              "displayName": "地址",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        64
      ],
      "id": "89c9273e-d173-472b-95d3-61f3a7ba8d4d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cw5LvbLtBTEHYhE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xzoe6OH-yzkfBwiOkesSf9w83mUNPcMBvJ34AEEF_MM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xzoe6OH-yzkfBwiOkesSf9w83mUNPcMBvJ34AEEF_MM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1408,
        -96
      ],
      "id": "0f045e8e-05cb-4a72-a709-e88e24765079",
      "name": "讀取客戶資訊",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cw5LvbLtBTEHYhE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 從 LINE 訊息中提取關鍵字（如 \\\"查詢:張成龍\\\" 取 \\\"張成龍\\\"）\nconst keyword = $('If').first().json.body.events[0].message.text.split(\":\").slice(1).join(\":\").trim();\n\n// 過濾包含關鍵字的聯絡人（假設欄位為「聯絡人」）\nconst matched = items.filter(item => {\n  const name = item.json.聯絡人 || \"\";\n  return name.includes(keyword);\n}).map(item => item.json);  // 只保留資料內容\n\n// LINE 的回覆 token\nconst replyToken = $('If').first().json.body.events[0].replyToken;\n\n// 將每筆符合資料包成 LINE 訊息格式\nconst messages = matched.map(item => {\n  return {\n    type: \"text\",\n    text: Object.entries(item).map(([key, val]) => `${key}: ${val}`).join('\\n')\n  };\n});\n\n// 若沒有符合的資料，回傳提示\nif (messages.length === 0) {\n  messages.push({\n    type: \"text\",\n    text: `找不到包含「${keyword}」的聯絡人資料。`\n  });\n}\n\nreturn [\n  {\n    json: {\n      replyToken,\n      messages\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -96
      ],
      "id": "bc6ccf58-211d-40a3-9dfe-21da57345f4e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer GFQFQ8bLAmxyM7aOzn1EstgdZ4DLvP7o7lmaJoAO1cRyQEkjz4ei8Asi+TQiBRpbrUlrrRryPz48u7CnZBAhTiP1W5ztzcafy7pwLj2S1ZpJ+u+CUH+krIHykNtOZb7KGqSed2o0W8XlTGAKfpmIPgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        -96
      ],
      "id": "489b0390-3152-4224-928a-fcb71f9ccda5",
      "name": "回覆查詢客戶資料"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-20T01:43:01.839Z",
      "createdAt": "2025-10-20T01:43:01.839Z",
      "role": "workflow:owner",
      "workflowId": "5WB6JLnFQYXaAx8o",
      "projectId": "P6K4d0THghyzcD8Q"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-20T04:40:44.000Z",
  "versionId": "c94efbde-d2a4-496a-8ca2-c0a3c9a4ddb0"
}