workflows/6cAl2gfVc87hVsgS.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T07:27:27.757Z",
  "id": "6cAl2gfVc87hVsgS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "本地AI企業問答助理",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://feeds.feedburner.com/rsscna/culture"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -224
      ],
      "id": "4f39a2f0-4f96-47f8-9fcb-fb3a49293fe3",
      "name": "RSS Feed Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "embeddingBatchSize": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -560,
        -224
      ],
      "id": "11e9a3a6-cb39-442e-bdb7-6bc72425e096",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "6yXwgvFib4uK8oEA",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -608,
        -48
      ],
      "id": "5f6213e1-40c3-4753-a56c-9aaabad9bc9b",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "YqEztnnp27vf3ey9",
          "name": "Home Ollama"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -368,
        -48
      ],
      "id": "c4d79f29-3188-4560-9512-fa4a7ddda457",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        -256
      ],
      "id": "22fe68aa-450a-4560-ac9a-c4d99a297b80",
      "name": "When chat message received",
      "webhookId": "30c483d0-a835-4fa2-9093-550465e8e24d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        240,
        -256
      ],
      "id": "8d14bd2a-47f8-497e-b139-93c84b205e31",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        128,
        -48
      ],
      "id": "f5245052-e3ab-44f4-82d7-2c039a09b4dc",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "YqEztnnp27vf3ey9",
          "name": "Home Ollama"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        384,
        -48
      ],
      "id": "c5edf302-981a-4a2e-a01a-810b1409db94",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        368,
        96
      ],
      "id": "dc20392a-6a96-4515-b188-236d0b17ad61",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "6yXwgvFib4uK8oEA",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        384,
        240
      ],
      "id": "c7d53d30-01ed-4c88-8796-127718914dc0",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "YqEztnnp27vf3ey9",
          "name": "Home Ollama"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-20T07:27:27.760Z",
      "createdAt": "2025-10-20T07:27:27.760Z",
      "role": "workflow:owner",
      "workflowId": "6cAl2gfVc87hVsgS",
      "projectId": "P6K4d0THghyzcD8Q"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-28T01:59:14.000Z",
  "versionId": "b0ecd287-3a71-4d37-acfb-13796f8bf77f"
}