workflows/7FJ1sFISC3avAUyY.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-24T07:26:20.055Z",
  "id": "7FJ1sFISC3avAUyY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "博物館查詢-後端",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/temp/museum2.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1040,
        -480
      ],
      "id": "a6458b4e-b546-4bcd-9d45-ca5a5e36e57a",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -480
      ],
      "id": "54c4d85b-e9ea-413d-895d-2e40a8328dc2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -624,
        -480
      ],
      "id": "59a6204a-747b-47d8-b425-85b055fcdcca",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a54b748-ebe7-41e5-aaf3-188dc9972d93",
              "leftValue": "={{ $('Edit Fields').item.json.cityName }}",
              "rightValue": "={{ $json.cityName }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        -480
      ],
      "id": "dec23f64-2810-4b1c-abbb-14267e51328e",
      "name": "Filter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simple-post",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1488,
        -272
      ],
      "id": "d1727292-a2ac-4884-a4f0-fe64b0987f60",
      "name": "Webhook",
      "webhookId": "0b0621c3-c3f6-4f31-9d7f-5ac8b0ebb0d3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -208,
        -480
      ],
      "id": "8ed8cab3-2ae7-454f-8389-5f3718d3e771",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        -480
      ],
      "id": "7285372f-1e1e-4363-a6f5-29a76efa0f30",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "893fb5e4-90b9-40d8-88ad-bb74a245c0c7",
              "name": "cityName",
              "value": "高雄市",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        -480
      ],
      "id": "b38badbe-0c91-49eb-83d6-c1d6558504d0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-24T07:26:20.062Z",
      "createdAt": "2025-12-24T07:26:20.062Z",
      "role": "workflow:owner",
      "workflowId": "7FJ1sFISC3avAUyY",
      "projectId": "P6K4d0THghyzcD8Q"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-25T03:19:37.000Z",
  "versionId": "178d38e4-7a06-4210-9340-e3bc14884511"
}